<template>
  <h1>Hello {{ name }}!</h1>
</template>

<script>
// @vue/component
import "./card.scss";

export default {
  props: {
    name: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
h1 {
    color: blue;
}
</style>